.wrapper{
    padding: 12px 16px;
    font-size: 14px;
    line-height: 1;
    border-radius: 4px;
    font-weight: 600;
    min-width: 100px;
  
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
   .wrapper{
       margin-left: 8px;
    }
   
}
.round{
    border-radius: 24px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    border-color: rgba(22, 24, 36,0.12);
    &:hover{
        background-color: rgba(17, 19, 26, 0.03);
        border-color: rgba(22, 24, 36,0.18);
    }
}
.primary{
    background-color: rgb(254, 44, 85);
     border: 1px solid transparent;
    color: #fff;
     &:hover{
        background-color: rgb(237, 36, 130);
       
    }
}
.round{
    border-radius: 24px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    border-color: rgba(22, 24, 36,0.12);
    // &:hover{
    //     background-color: rgba(17, 19, 26, 0.03);
    //     border-color: rgba(22, 24, 36,0.18);
    // }
}
.outline{
    background-color: transparent;
    border: 1px solid rgb(254, 44, 85);
    color: rgb(254, 44, 85);
    &:hover{
         border: 1px solid rgb(254, 44, 85);
        background-color: rgba(254, 44, 85,0.06);
    }
}
.custom{
    color:rgb(61, 60, 61);
}
.small{
    min-width: 80px;
    padding: 4px 8px;
    font-size: 12px;
}
.large{
    min-width: 140px;
    padding: 12px 16px;
    font-size: 16px;
}
.text{
    background-color: transparent;
    border: 1px solid transparent;
    color: rgb(9, 9, 9);
    
}
.icon{
    margin-left: 8px;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.disable{
    pointer-events: none;
    opacity: 0.6;
}