@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --font-color: #333;
  --background-color: #f5f5f5;
}
html
{
  box-sizing: border-box;
  font-size: 62.5%;
}
body, button, input, select, textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}