.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.info{
    margin-left: 12px;
    .name{
        font-weight: 600;
        font-size: 1.4rem;
        color: rgb(33, 33, 33);
    }
    .username{
       
    }
    flex:1;
}
.name{
    display: flex;
    align-items: center;
    .check{
        font-size: 1.4rem;
        color: rgb(92, 218, 246);
        margin-left: 4px;
    }
}
.username{
    margin-top: 2px;
    font-size: 1.2rem;
        color: rgb(136, 134, 134);
}
.wrapper{
    padding: 8px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover{
        background-color: rgb(236, 233, 233);
    }
}