.menu-items{
    width: 220px;
   
    display: block;
    margin-left: 0;
    text-align: left;
    .separate{
        border-top: 1px solid #eee;
        margin-top: 8px;
        padding-top: 8px;
    }
}
.header{
    display: flex;
    align-items: center;
    padding: 10px 16px;
    font-weight: 600;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    .back-icon{
        font-size: 20px;
        margin-right: 10px;
        cursor: pointer;
    }
}
.header-title{
        flex: 1;
    }
.back-btn{
    cursor: pointer;
}
